.background {
    -fx-background-color: derive(#1F2933, 20%);
    background-color: #1F2933; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.help-window {
    -fx-background-color: #1C2126;
    -fx-border-color: transparent;
}

.help-window .label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
}

.help-window .tableHeader {
    -fx-text-fill: #1fc7b8;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 14pt;
    -fx-padding: 0 0 -5 5;
}

.table-view {
    -fx-background-color: transparent !important;
}

.table-view .column-header {
    -fx-border-width: 0pt !important;
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
}

.table-view .column-header .label {
    -fx-font-size: 12pt !important;
}

.table-view .table-row-cell {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .table-column {
    -fx-border-color: white;
    -fx-border-width: 1pt;
    -fx-border-radius: 0pt;
    -fx-text-fill: white;
}

.table-view .commandColumn {
    -fx-border-width: 1 1 1 0;
}

.tab-pane {
    -fx-padding: 0 0 0 0;
    -fx-tab-min-width:100px;
    -fx-tab-max-height:300px;
    -fx-background-color: #1c2126; /* background color for the entire tab view */
}

.tab-pane .tab-header-background {
    -fx-background-color: #263037 ; /* background color for the entire bar of tabs */
}

.tab {
    -fx-background-insets: 0 4 0 4,0,0, 0; /* spacing between tabs */
    -fx-background-radius: 10 10 0 0 ;
    -fx-background-color: #39434c; /* background color of tabs */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-width: 150;
    -fx-pref-height: 35;
}

.tab-pane .tab:selected
{
    -fx-background-color: #1c2126;  /* background color of tabs when selected*/
}

.tab .tab-label {
    -fx-pref-width: 140;
    -fx-text-fill: #8c8c8c;
    -fx-font-size: 12.5pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab:selected .tab-label {
    -fx-text-fill: #1fc7b8;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #1c2126; /* when the list is empty */
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #39434c; /* color of list boxes: even */
}

.list-cell:filled:odd {
    -fx-background-color: #505a61;  /* color of list boxes: odd */
}

.list-cell:filled:selected {
    -fx-background-color: #1fc7b8;  /* color of list boxes: when selected */
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.list-cell:selected .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.tab_label {
    -fx-font-weight: bolder;
    -fx-font-size: 5px;
}

.stack-pane {
     -fx-background-color: #1C2126;
}

.pane-with-border {
     -fx-background-color: #1C2126; /* colors at border of the main body */
     -fx-border-color: transparent;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #1C2126;  /* color of the bar at the bottom */
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: white !important;
}

.memo-box {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.memo-box:focused {
    -fx-border-color: #1fc7b8;
    -fx-border-width: 1px;
    fx-border-radius: 1px;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #1C2126;
    -fx-border-color: #1C2126;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: #1C2126;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #1C2126;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 0pt;
    -fx-background-radius: 0pt;
    -fx-background-color: black;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #1fc7b8;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

/*.button:focused {*/
/*    -fx-border-color: white;*/
/*    -fx-border-width: 2;*/
/*    -fx-border-radius: 5pt;*/
/*    -fx-background-radius: 5pt;*/
/*}*/

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
}

/*.button:default {*/
/*    -fx-background-color: -fx-focus-color;*/
/*    -fx-text-fill: white;*/
/*    -fx-border-radius: 5pt;*/
/*    -fx-background-radius: 5pt;*/
/*}*/

/*.button:default:hover {*/
/*    -fx-background-color: derive(-fx-focus-color, 30%);*/
/*    -fx-border-radius: 5pt;*/
/*    -fx-background-radius: 5pt;*/
/*}*/

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.attributes {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.attributes .label {
    -fx-text-fill: white;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 13;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #F3F3F3 #F3F3F3 #F3F3F3 #F3F3F3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #3e4c59, #3e4c59, #3e4c59, #3e4c59; /* color of result display box */
    -fx-background-radius: 0;
}

#memoTextBox .content {
    -fx-background-color: #263037; /* color of memo text box */
    -fx-background-radius: 0;

}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#stats {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#stats .label {
    -fx-text-fill: black;
    -fx-background-color: #E6E6E6;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.menu-file .label {
    -fx-font-size: 14;
}

.menu-custom-button .label {
    -fx-font-size: 14;
    -fx-size: 5;
    -fx-width: 5;
}

.empty-state .label {
    -fx-text-fill: #CFD8DC;
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
